.saved__news_card_wrapper {
  list-style: none;
  width: 400px;
  height: 576px;
}

.card__image {
  width: 400px;
  height: 272px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
}

.saved__card_header {
  background-color: white;
  position: relative;
}

.saved__news_keyword {
  /* border: solid red; */
  /* width: 40px; */
  height: 40px;
  top: 21px;
  position: absolute;
  left: 24px;
  border: white;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  /* line-height: 24px; */
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: white;
}

.saved_news_delete_btn {
  position: absolute;
  top: 400px;
  left: 340px;
  top: 21px;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: white;
  border-radius: 10px;
  align-items: center;
  background-color: white;
}

.saved__card_info {
  background: white;
  height: 300px;
  display: flex;
  flex-direction: column;
  border-bottom-right-radius: 13px;
  border-bottom-left-radius: 13px;
  position: relative;
}

.saved__card_info_wrapper {
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
}

.saved__card_date {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: rgba(182, 188, 191, 1);
}

.saved__news_card_description {
  margin: 0;
  margin-top: 16px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  max-height: 88px;
}

.btn__delete_img {
  height: 24px;
  width: 24px;
}

@media screen and (max-width: 768px) {
  .saved__news_card_wrapper {
    /* border: solid red; */
    width: 224px;
    height: 420px;
  }

  .saved__card_info_wrapper {
    /* padding: 0; */
    padding-top: 0px;
    margin-top: 20px;
  }

  .saved__card_date {
    margin: 0;
    padding: 0;
    width: 144px;
    height: 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  .saved__news_card_name {
    overflow: hidden;
    margin: 0;
    margin-top: 8px;
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
  }

  .saved__news_card_description {
    overflow: hidden;
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    font-family: "Roboto";
  }

  .saved__card_author {
    margin-top: 12px;
    margin-bottom: 16px;
    padding: 0;
  }

  .saved__news_keyword {
    height: 40px;
    width: 83px;
    right: 92px;
    left: 8px;
    top: 8px;
    border-radius: 10px;
  }

  .saved_news_delete_btn {
    left: 174px;
    right: -162px;
    top: 8px;
    left: 178px;
  }
}
