.saved__news_header {
  /* border: solid red; */
  background-color: transparent;
  position: relative;
  width: auto;
  height: 294px;
  margin-bottom: 56px;
}

.saved__news_header_content {
  display: flex;
  justify-content: flex-start;
  padding-left: 109px;
  max-width: 1329px;
  width: 100%;
  margin: 0 auto;
}

.saved__news__header_title {
  width: 712px;
  font-family: "Roboto";
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  color: rgba(26, 27, 34, 0.5);
}

.saved__news_header_description {
  width: 530px;
  height: 92px;
  font-size: 40px;
  line-height: 46px;
  font-family: "Roboto Slab";
  font-weight: 400;
  color: rgba(26, 27, 34, 1);
}

.saved__news_header_keywords {
  font-family: "Roboto";
  font-family: 400;
  font-size: 18px;
  line-height: 24px;
  color: rgba(26, 27, 34, 1);
}

@media screen and (max-width: 768px) {
  .saved__news_header {
    height: 236px;
    width: auto;
  }

  .saved__news__header_title {
    font-weight: 400;
    width: 712px;
    height: 24px;
    font-size: 14px;
    margin-bottom: 2px;
  }

  .saved__news_header_description {
    margin-top: 16px;
    margin-bottom: 16px;
    width: 336px;
    height: 68px;
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
  }

  .saved__news_header_keywords {
    width: 712px;
    height: 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  .saved__news_header_content {
    padding-left: 40px;
  }
}

@media screen and (max-width: 430px) {
  .saved__news__header_title {
    width: 200px;
  }

  .internal__saved_header_wrapper {
    max-width: 320px;
  }

  .saved__news_header_content {
    /* border: solid red; */
    /* padding-left: 16px; */
    padding: 0;
  }

  .saved__news__header_title {
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
  }

  .saved__news_header_description {
    font-size: 30px;
    width: 288px;
    line-height: 34px;
    margin-bottom: 50px;
  }

  .saved__news_header_keywords {
    width: 288px;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 320px) {
  .saved__news_wrapper {
    width: 320px;
  }

  .saved__news__header_title {
    margin-top: 8px;
    margin-bottom: 16px;
  }

  .saved__news__header_title {
    width: 200px;
  }

  .internal__saved_header_wrapper {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .saved__news_header_content {
    /* border: solid red; */
    /* padding-left: 16px; */
    padding: 0;
  }

  .saved__news__header_title {
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
  }

  .saved__news_header_description {
    font-size: 30px;
    width: 288px;
    line-height: 34px;
    margin-bottom: 50px;
  }

  .saved__news_header_keywords {
    width: 288px;
    margin-bottom: 32px;
  }
}
