.page {
  background-color: #f3f3f3;
}

.page__content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.page__style {
  background: url(../../assets/header-bg.jpg);
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-height: 580px;
}

@media (max-width: 1440px) {
  .page__style {
    background-size: cover;
  }
}

@media (max-width: 760px) {
  .page__style {
    background-size: cover;
  }
}

html,
body {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
}
