.page {
  /* background-color: #f3f3f3; */
  background-color: rgba(255, 255, 255, 1);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.page__content {
  width: 100%;
  /* flex-grow: 1; */
  height: auto;
  display: flex;
  flex-direction: column;
  flex: 1;
  box-sizing: border-box;
  margin-bottom: auto;
}

.page__style {
  display: flex;
  flex-direction: column;
  flex: 1;
}

@media (max-width: 1440px) {
  .page__style {
    background-size: cover;
  }
}

@media (max-width: 760px) {
  .page__style {
    background-size: cover;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}
