.main__preloader {
  display: flex;
  flex-direction: column;

  min-height: 200px;
  height: 100%;

  align-items: center;
  justify-content: center;
  position: relative;
  /* padding-top: 80px; */
  /* padding-bottom: 80px; */

  background-color: rgba(245, 246, 247, 1);
}

.main__preloade-circle {
  position: relative;
  margin-bottom: 24px;
  /* border: solid black; */
  width: 74px;
  height: 74px;
}

.main__preloader-text {
  width: 280px;
  /* border: solid red; */
  text-align: center;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 24px;
  font-size: 18px;
  margin: 0;
  padding: 0;
  margin-top: 80px;
}

.main__no-result {
  background-color: rgba(245, 246, 247, 1);
}

.main {
  background-color: rgba(245, 246, 247, 1);
  /* height: 974px; */
  /* height: auto; */
  /* min-height: 50vh; */
  display: flex;
  height: auto;
  flex-direction: column;
  /* border: solid red; */
}
