.about {
  /* height: 624px; */
  /* border: solid red; */
  /* display: flex; */
  /* flex-direction: column; */
  background-color: rgba(255, 255, 255, 1);
  /* width: 100%; */
  /* padding: 80px 216px 80px 104px; */
  /* min-height: 0 auto; */
  /* flex-grow: 1; */
  /* margin-bottom: 80px; */
  /* margin-bottom: 0 auto; */
  /* margin-top: 20px; */
  /* margin-top: auto; */
  /* border: solid red; */
}

.about__wrapper {
  display: flex;
  /* flex-direction: row; */
  padding: 80px 216px 80px 104px;
  justify-content: center;
}

.author__image-avatar {
  height: 464px;
  width: 464px;
  border-radius: 50%;
  /* margin-left: 104px; */
  /* margin-top: 80px; */
  /* margin-right: 56px; */
}

.author {
  /* margin-top: 131px; */
  max-width: 600px;
  /* border: solid red; */
  margin-left: 56px;
}

.author_title {
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  margin-bottom: 24px;
}
.author__description {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  width: auto;
  height: auto;
  max-width: 600px;
  max-height: 120px;
}

@media screen and (max-width: 768px) {
  .about {
    overflow: hidden;
  }

  .about__wrapper {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
  }

  .author__image-avatar {
    /* padding-top: 61px; */
    margin-top: 61px;
    object-fit: cover;
    width: 232px;
    height: 232px;
  }

  .author_title {
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
  }
}
