.about {
  /* height: 624px; */
  /* border: solid red; */
  display: flex;
  flex-direction: column;
  /* min-height: 0 auto; */
  /* flex-grow: 1; */
  /* margin-bottom: 80px; */
  /* margin-bottom: 0 auto; */
  /* margin-top: 20px; */
  /* margin-top: auto; */
  /* border: solid red; */
}

.about__wrapper {
  display: flex;
  flex-direction: row;
}

.author__image-avatar {
  height: 464px;
  width: 464px;
  border-radius: 50%;
  margin-left: 104px;
  margin-top: 80px;
  margin-right: 56px;
}

.author {
  margin-top: 131px;
  max-width: 600px;
  /* border: solid red; */
}

.author_title {
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  margin-bottom: 24px;
}
.author__description {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  width: auto;
  height: auto;
  max-width: 600px;
  max-height: 120px;
}
