.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* border: solid red; */
  height: 80px;
  border: solid rgba(255, 255, 255, 0.2);
  background-color: rgba(196, 196, 196, 0.01);
}

.logo {
  margin-right: auto;
  margin-left: 104px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
  width: 200px;
  font-family: "Roboto Slab";
  color: rgba(255, 255, 255, 1);
}

.signin_btn {
  margin-left: 42px;
  margin-right: 104px;
  width: 176px;
  height: 48px;
  /* top: 19px; */
  color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, 1);
  background-color: transparent;
  border-radius: 100px;
  font-family: "Roboto";
  font-weight: 500;
}

.home_btn {
  height: 80px;
  border-left: none;
  border-right: none;
  border-top: none;
  font-family: "Roboto";
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  background-color: transparent;
  border-bottom: 2px solid rgba(255, 255, 255, 1);
}
