.footer {
  margin-top: auto;
  height: 80px;
  /* border: solid red; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* margin-left: 104px; */
  padding-left: 104px;
  padding-right: 104px;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 1);
}

.footer__links {
  display: flex;
  flex-direction: row;
  gap: 40px;
  text-decoration: none;
}

.footer__socials {
  display: flex;
  gap: 24px;
}

.footer__link {
  text-decoration: none;
}

@media screen and (max-width: 320px) {
  .footer {
    flex-direction: column;
    padding: 20px 16px;
    height: auto;
  }

  .footer_text {
    font-style: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: rgba(182, 188, 191, 1);
  }
}
