.news__card_wrapper {
  border: solid black;
  list-style: none;
  width: 400px;
  height: 576px;
  position: absolute;
}

.card__image {
  width: 400px;
  height: 272px;
}

.save__btn {
  position: absolute;
  top: 400px;
  left: 340px;
  top: 21px;
  width: 40px;
  height: 40px;
}
