.news__card_wrapper {
  /* border: solid black; */
  list-style: none;
  width: 400px;
  height: 576px;
  /* position: absolute; */
}

.card__image {
  width: 400px;
  height: 272px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
}

.save__btn {
  position: absolute;
  top: 400px;
  left: 340px;
  top: 21px;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}

.card__info {
  background: white;
  height: 300px;
  display: flex;
  flex-direction: column;

  border-bottom-right-radius: 13px;
  border-bottom-left-radius: 13px;
}

.card__header {
  background-color: white;
  /* position: absolute; */
  position: relative;
}

.card__author {
  margin: 0;
}

.card__date {
  margin: 0;
  margin-top: 17px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: rgba(182, 188, 191, 1);
}

.card__name {
  margin-top: 10px;
  margin-bottom: 0;
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
}

.card__info_wrapper {
  /* border: solid red; */
  margin-left: 24px;
  margin-right: 24px;
}

.card__description {
  margin: 0;
  margin-top: 16px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.card__author {
  margin-top: 25px;
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: rgba(182, 188, 191, 1);
}
