.news__card_wrapper {
  list-style: none;
  width: 400px;
  height: 576px;
  /* position: absolute; */
}

.card__image {
  width: 400px;
  height: 272px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
}

.save__btn {
  position: absolute;
  top: 400px;
  left: 340px;
  top: 21px;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  background-color: white;
  border: solid white;
  cursor: pointer;
}

.card__info {
  background: white;
  height: 300px;
  display: flex;
  flex-direction: column;
  border-bottom-right-radius: 13px;
  border-bottom-left-radius: 13px;
  position: relative;
  /* overflow: hidden; */
}

.card__header {
  background-color: white;
  position: relative;
}

.card__date {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: rgba(182, 188, 191, 1);
}

.card__name {
  margin-top: 10px;
  margin-bottom: 0;
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  /* flex-shrink: 0; */
}

.card__info_wrapper {
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
}

.card__description {
  margin: 0;
  margin-top: 16px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  max-height: 88px;
}

.card__author {
  padding-top: 18px;
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: rgba(182, 188, 191, 1);
}

.btn__image {
  background-color: white;
}

@media screen and (max-width: 768px) {
  .news__card_wrapper {
    width: 224px;
    height: 420px;
    margin-bottom: 8px;
  }

  .card__image {
    width: 224px;
    height: 150px;
  }

  .card__date {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  .card__name {
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
    overflow: hidden;
  }

  .card__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    overflow: hidden;
  }

  .card__author {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    padding: 0;
    margin: 0;
    margin-top: 12px;
  }

  .save__btn {
    left: 176px;
    top: 7px;
  }
}

@media screen and (max-width: 320px) {
  .news__cards_list {
    justify-content: flex-start;
  }

  .news__card_wrapper {
    height: 440px;
    width: 288px;
  }

  .card__image {
    max-width: 288px;
    width: 100%;
  }

  .save__btn {
    right: 0;
    left: 231px;
    margin-top: 16px;
    top: 0;
  }
  .show__more_btn {
    margin-left: -16px;
    margin-right: 16px;
    height: 56px;
    width: 288px;
    background-color: rgba(255, 255, 255, 1);
  }
}
